# API
EXPO_PUBLIC_API_URL=http://localhost:3000

# Firebase (web config iz Firebase konzole)
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=

# Google OAuth (iz Google Cloud Console → OAuth 2.0 Web Client ID)
EXPO_PUBLIC_GOOGLE_CLIENT_ID=

# Sentry (Error Monitoring)
EXPO_PUBLIC_SENTRY_DSN=https://935178231beab79f12226217f095eddd@o4511162324811776.ingest.de.sentry.io/4511162327302224
